<!-- About Section -->
    <section id="about" class="container content-section" style="margin-top: 50px">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
	    <script type="text/markdown">

## Willkommen!
		
Mit der dpa-App erhalten Sie Nachrichten und Eilmeldungen sowie wichtige Updates zu Terminen rund um den G7-Gipfel. In der App für Android und iOS werden Sie via Push-Mitteilung über Änderungen im Terminplan informiert.
	    </script>
            </div>
	</div>
	<div class="row" style="padding-top: 4em; padding-bottom: 4em" >
		<div class="col-lg-4 text-center">
		<a href="{{ site.data.urls.appstore }}">
			<img src="img/appstore.svg" alt="{{ site.title }} - App Store" />
		</a>
		</div>
		<div class="col-lg-4 text-center">
		<a href="{{ site.data.urls.playstore }}">
			<img style="height: 45px" src="img/playstore.png" alt="{{ site.title }} - Google Play Store" />
		</a>
		</div>
		<div class="col-lg-4 text-center">
		<a href="{{ site.data.urls.webapp }}" class="btn btn-default" style="background: #000000; color: #ffffff; border-radius: 5px;" >
			<img src="img/web-app-white.png" style="height:30px" />
			Web App
		</a>
		</div>

	</div>
	<div class="row" style="min-height: 100px"></row>
    </section>
